<launch>
  <arg name="vocab_path" value="$(find orbslam3)../../../Vocabulary/ORBvoc.txt" />
  <arg name="config_path" value="$(find orbslam3)../../../Examples/RGB-D/rgbd_tello.yaml" />
  <arg name="save_map" value="0"/>

  
  <node name="orb_slam3_mono" pkg="ORBSLAM3" type="rgbd" args="$(arg vocab_path) $(arg config_path) $(arg save_map)" output="screen">
    <remap from="camera/rgb/image_raw" to="packnet/color/image_raw" />
    <remap from="camera/registered_depth/image_raw" to="packnet/depth/image_raw" />

    <remap from="/orb_slam/fast_planner_pose" to="/nullify" />
  </node>



</launch>